.App {
  text-align: center;
}
header{
  background-color: rgb(51, 41, 24);
  color: white;
  padding: 10px;
  font-size: xx-large;
}
.main-body{
  padding: 20px;
}
input{
  width: 60%;
  line-height: 25px;
  font-size: medium;
}
button{
  line-height: 25px;
  font-size: medium;
  font-weight: bold;
}